html {
	font-family: sans-serif;
	background-color: #fff;
	font-size: 0.875rem;
}

body {
	margin-top: 6px;
	background-color: #f8f9fa;
	color: #202122;
}

.header-container {
	width: 100%;

	display: flex;
	justify-content: center;
}
.header-container header {
	width: 100%;
	display: flex;
	padding-left: 3.25rem;
	padding-right: 3.25rem;
	flex-wrap: nowrap;
	white-space: nowrap;
	column-gap: 24px;
	justify-content: center;
	align-items: center;
}

.top-header-left-container {
	border: 3px solid green;
	width: 248px;
	height: 50px;
	display: flex;
	justify-content: left;

	align-items: center;
}
#menu-icon {
	height: 38px;
}
#wiki-icon {
	height: 50px;
}
#search-icon {
	height: 32px;
}

.top-header-right-container {
	border: 3px solid red;

	width: 100%;

	display: flex;
	justify-content: space-between;
}

.top-header-right-container div {
	border: 1px solid blue;
	display: flex;
	align-items: center;
	gap: 10px;
}
